[submodule "Apropos"]
	path = Apropos
	url = https://github.com/jberkman/Apropos.git
[submodule "Balsa"]
	path = Balsa
	url = https://github.com/jberkman/Balsa.git
[submodule "JeSuis"]
	path = JeSuis
	url = https://github.com/jberkman/JeSuis.git
